# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Calculator/Debug
Calculator/Calculator/Debug
SOCEngine/SOCEngine/Debug/
SOCEngine/Output/

*.sdf
*.opensdf
*.ipch
*.v11.suo


Calculator/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate

SOCTestProject/Debug/
SOCTestProject/SOCTestProject/Debug/

EngineShaderFactory.hpp
ShaderFactory.hpp
*.metadata